In [1]:
print("i love u")

i love u

In [2]:
A,B = 2,4
result = A+B
print(result)

6

In [11]:
a=2
b=4.65
name='kruthi'
con=name+" "+name
print(con)
num_con=a+a
print(num_con)
total=a+b
print(total)

kruthi kruthi
4
6.65

In [12]:
print(type(10))

<class 'int'>

In [23]:
x = "hello"

#if condition returns True, then nothing happens:
assert x == "hello"

#if condition returns False, AssertionError is raised:
assert x == "goodbye","hello"

AssertionError: hello

In [40]:
a = "python"
b = "3"
c = a+b
print(c)
print("      ")
stmt = "this is single line stmt"
print(stmt)
print("      ")
stmt1 = """this is
multi-line
stmts"""
print(stmt1)
print(len(stmt1))
print("      ")
me = "hello am kruthi"
print("final statement %s"%me)

python3

this is single line stmt

this is
multi-line
stmts
24

final statement hello am kruthi

In [ ]:
# %s
#It is used as a placeholder for string values. 
#Uses string conversion via str() before formatting.
# %s can accept numeric values also and it automatically does the type conversion.

In [ ]:
# %d
# It is used as a placeholder for numeric values.
# Uses decimal conversion via int() before formatting.
# In case a string is specified for %d operator a type error is returned.

In [31]:
a = 10
b = "kruthi"
c = 12.43
d = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(5+8j))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [33]:
a = "hello"
print(a)
a = 'hello'
print(a)

hello
hello

In [37]:
name = "hello!!"
name2 = "my name is kruthi"
tmp = "{Name} am good {Name2}"
t = tmp.format(Name=name,Name2=name2)
len_name = len(name)
len_name2 = len(name2)
len_tmp = len(tmp)
len_t = len(t)
print(len_name,len_name2,len_tmp,len_t)
stg="my name is kruthika"
print(len(stg))

7 17 22 33
19

In [58]:
#operators
a=1
b=10
c=a!=b
print(c)
print (23/5)

True
4.6

In [60]:
# for statement in python
names = "kruthi","madhu","sai"
for name in names:
    print(name)
number=0
for n in range(1,7):
    number+=n
    print(number)

kruthi
madhu
sai
1
3
6
10
15
21

In [63]:
#while loop
total=0
num=20
while(num<=25):
    total+=num
    num+=1
print("total value is",total)

total value is 135

In [69]:
#break, continue and pass statements
for char in "Kruthika":
    if(char=="k"):
        break
    print("charecter :",char)
print("--------------------------")
for char in "Kruthika":
    if(char=="k"):
        continue
    print("charecter :",char)
print("--------------------------")
for char in "Kruthika":
    if(char=="k"):
        pass
    print("charecter :",char)
#pass is used to ignore the part at which it is used,so that it can be implemented in the future or just to getrid of the errors

charecter : K
charecter : r
charecter : u
charecter : t
charecter : h
charecter : i
--------------------------
charecter : K
charecter : r
charecter : u
charecter : t
charecter : h
charecter : i
charecter : a
--------------------------
charecter : K
charecter : r
charecter : u
charecter : t
charecter : h
charecter : i
charecter : k
charecter : a

In [1]:
#nested loops
x=4
y=2
while x<5:
    while y<3:
        print(x,",",y)
        x+=1
        y+=1

4 , 2

In [5]:
#variation is i=5 and while loop condition is (i<20) add i+2 and print (i)
i=5
while i<20:
    i+=2
    print(i)

7
9
11
13
15
17
19
21

In [8]:
name=input("enter the input : ")
for x in name:
    if(x=="a" or x=="e" or x=="i" or x=="o" or x=="u" or x=="A" or x=="E" or x=="I" or x=="O" or x=="U"):
        print(x)

enter the input : kruthi
u
i

In [10]:
#loops with else block of code
for x in range(4):
    print(x)
else :
    print("end of the loop")
print("-----------------------")
a,b = 4,5
while a<b:
    print("a is small")
    a+=1
    b-=1
else :
    print("a is big")

0
1
2
3
end of the loop
-----------------------
a is small
a is big

In [14]:
num=int(input("enter a number : "))
i,j = 0,1
count=0
if num==1:
    print(i)
else:
    while (count<num):
        print(i)
        x=i+j
        i=j
        j=x
        count+=1

enter a number : 7
0
1
1
2
3
5
8

In [15]:
def fibonacci():
    num = int(input("How many numbers that generates?:")) #taking user input here with input function
    i = 1 # the value of i here is 1
    if num == 0: #if num == 0 which means that if number will = to 0 then 
        fib = [] #this string will be printed
    elif num == 1: #if number == 1 so that will start from 1 and so on
        fib = [1]
    elif num == 2:
        fib = [1,1]
    elif num > 2:
        fib = [1,1]
        while i < (num - 1):
            fib.append(fib[i] + fib[i-1]) #fibonacci logic
            i += 1
    return fib
print(fibonacci()) #printing fibonacci funtion here

How many numbers that generates?:8
[1, 1, 2, 3, 5, 8, 13, 21]

In [23]:
#function
def fun():
    print("one")
    print("two")
    print("three")
fun()  #calling function

print("---------------------")

def avg(x,y):
    #x,y = 3,5
    print("average of ",x,"and ",y,"is ",(x+y)/2)
avg(10,2)

one
two
three
---------------------
average of  10 and  2 is  6.0

In [26]:
def sum(x,y=1):
    return x+y
s1=sum(200,400)  #x=200,y=400
s2=sum(40)       #x=40,y=1
s3=sum(3)        #x=3,y=1
print(s1,s2,s3)

600 41 4

In [27]:
#nested function
def outerfunction():
    print("outer function is returned")
    def innerfunction():
        print("inner function is required")
    innerfunction()
outerfunction()

outer function is returned
inner function is required

In [29]:
def num(x):
    def num1(y):
        return x*y
    return num1
result=num(20)
print(result(4))

80

In [31]:
#module
import math
x = pow(3,3)
print(x)
print("value of tan is :",math.tan(3))

27
value of tan is : -0.1425465430742778

In [34]:
def sumNum(num):
    previousNum = 0
    for i in range(num):
        sum = previousNum + i
        print("Current Number", i, "Previous Number ", previousNum," Sum: ", sum)
        previousNum = i

print("Printing current and previous number sum in a range(9)")
sumNum(20)

Printing current and previous number sum in a range(9)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19
Current Number 11 Previous Number  10  Sum:  21
Current Number 12 Previous Number  11  Sum:  23
Current Number 13 Previous Number  12  Sum:  25
Current Number 14 Previous Number  13  Sum:  27
Current Number 15 Previous Number  14  Sum:  29
Current Number 16 Previous Number  15  Sum:  31
Current Number 17 Previous Number  16  Sum:  33
Current Number 18 Previous Number  17  Sum:  35
Current Number 19 Previous Number  18  Sum:  37

In [39]:
def showEmployee(name, salary=2000):
    print("Employee", name, "salary is:", salary)
showEmployee("bob", 5000)
showEmployee("",8)

Employee bob salary is: 5000
Employee  salary is: 8

In [40]:
def calculate(x,y):
     return x+y,x-y
calculate(3,2)

(5, 1)

In [10]:
name = "Hello Kruthikaxyz"
print(name[4:12])
print(name[4:-3])
print(name[:-2])
print(name[-4:-1])
print(name[-1:-5])

o Kruthi
o Kruthika
Hello Kruthikax
axy

In [26]:
name = "hello am here love ;-*"
s1 = slice(3)
s2=slice(5,11)
print(name[s1])
print(name[s2])
print("hellooo sai babuuu ;-*")

hel
 am he
hellooo sai babuuu ;-*

In [32]:
#remove the value of the index value
def value(str):
    result=""
    for a in range(len(str)):
        if a%2==0:
            result+=str[a]
        return result
print(value("Hello am kruthi"))
print(value("wife of raghava"))

H
w

In [33]:
#append
nums = [10,20,30,40,50]
print(nums)
nums.append(60)
print(nums)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]

In [38]:
#string format method
var = "for only in {price:2} dollars"
print(var.format(price=10))

for only in 10 dollars

In [52]:
#string indexing and slicing
name = "ABCDEFGHIJKLMOPQRSTUVWXYZ LET US GO TO BED"
print("name[:-5] : %s"%name[22:])
print("name[-3] : %s"%name[-3])
print("name[3] : %s"%name[3])
print("name[1:6] : %s"%name[1:6])
print("name[-4] : %s"%name[:4])

name[:-5] : XYZ LET US GO TO BED
name[-3] : B
name[3] : D
name[1:6] : BCDEF
name[-4] : ABCD

In [64]:
#captilization
def upper1(str):
    uppervar = 0
    for i in str:
        if i.upper()==i:
            uppervar += 1
    if uppervar>=2:
        return str.upper()
    return str
    
print(upper1("krUTHiKa"))  

#de-captilization
def lower1(str):
    lowervar = 0
    for i in str:
        if i.lower()==i:
            lowervar += 1
    if lowervar>=2:
        return str.lower()
    return str
    
print(lower1("krUTHiKA"))

KRUTHIKA
kruthika

In [66]:
#max character
say = max("kruthika")
print(say)
nums = max(10,20,40,2,44)
print(nums)

u
44

In [67]:
#user input
i = input("Enter your name :")
print("Hello "+i)

Enter your name :kruthi
Hello kruthi

In [72]:
#prime number program

print("Enter number") #this will be your first output result where you will add your number
number = int(input()) #Python has an input function which lets you ask a user for some text input. You call this function to tell the program to stop and wait for the user to key in the data.
i = 2 #we take 1=2 because you always start factorial from 2
while (i <= number): #while loop i<=number because if number is best then 2 the loop will execute if not loop terminated
  #Checking if prime or not 
  j = 2    
  count = 0 #the counting strat from 0
  while (j <= i): #if j=2 or > 2 so count will start like 1+1=2 2+1=3 
    if (i%j) == 0:
      count = count+1
    j = j+1
  #if count > 1 then it is not prime
  #if prime and factor(number%i==0) then it is prime factor
  if (count <= 1 and number%i == 0):
    print(i)
  i = i+1

Enter number
3
3

In [82]:
#reverse of a number
number=int(input("Enter number to reverse: "))
rev=0
while(number>0): 
    dig=number%10 
    rev=rev*10+dig
    number=number//10
print("Reverse of the number is:",rev)

Enter number to reverse: 9876
Reverse of the number is: 6789

In [18]:
#list operations
#index(), append(), clear(), remove(), pop(), extend(), count(), insert(),
#reversed(), sorted()
l = []
print(l)
l2 = [1,2,3,4]
print(l2)
print(l2[2:-1])
l3 = [7,8,9,"kruthi","ha nene"]
print(l3)

l.append("sai")
l.append(1)
print(l)
l.remove(1)
print(l)

[]
[1, 2, 3, 4]
[3]
[7, 8, 9, 'kruthi', 'ha nene']
['sai', 1]
['sai']

In [13]:
#changing list values
list = ["kruthi","kruthika","kutie","kutti","pappu"]
print(list)
list[2] ="T.kruthika" 
print(list)

['kruthi', 'kruthika', 'kutie', 'kutti', 'pappu']
['kruthi', 'kruthika', 'T.kruthika', 'kutti', 'pappu']

In [23]:
list = ["me@gmail.com", "you@gmail.com"]
print(list)

['me@gmail.com', 'you@gmail.com']

In [24]:
list = ["me@gmail.com", "you@gmail.com"]
print(list)

list1 = list()
list1.append("us@gmail.com")
list1.append("we@gmail.com")
print(list1)

['me@gmail.com', 'you@gmail.com']

TypeError: 'list' object is not callable

In [25]:
list1 = list()
list1.append("us@gmail.com")
list1.append("we@gmail.com")
print(list1)

TypeError: 'list' object is not callable

In [37]:
#checking if an iten is in the list
name = ["kruthi","mad","sai","kavitha"]
if "kruthika" in name:
        print("yes")
else:
        print("no")

no

In [3]:
#iterating lists
name = ["kruthi","madu","sai"]
for i in name:
    print(i)

kruthi
madu
sai

In [45]:
#tuple
tuple = ()
tuple1 = (1,2,3,4)
tuple2 = ("kruthi","mad","sai")
tuple3 = (4,"madhu",8,9,"kavi")
print(tuple)
print(tuple1)
print(tuple2)
print(tuple3)
print(tuple2[0])
print(tuple2[1])
print(tuple2[2])
del tuple1
print("tuple 1 is deleted")
print(tuple1)

()
(1, 2, 3, 4)
('kruthi', 'mad', 'sai')
(4, 'madhu', 8, 9, 'kavi')
kruthi
mad
sai
tuple 1 is deleted

NameError: name 'tuple1' is not defined

In [ ]:
tuple = (1,2,3,4,5,6,7,8)
print(2:)
print(1:6)
print(2::)
print(-5)
print(::)
print(2:)